* {
  font-family: ZCOOL KuaiLe, Arial, Helvetica, sans-serif;
}

span, label {
  color: #435960;
  font-weight: bold;
}

input {
  font-size: 1em;
  padding: .5rem;
}

button {
  color: #333;
  background-color: #eee;
  margin: 22px 5px 12px;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  border: none;
}

button:hover {
  color: white;
  background-color: #42545C;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
