* {
  font-family: ZCOOL KuaiLe, Arial, Helvetica, sans-serif;
}

h2 {
  color: #A80000;
  font-weight: lighter;
  display: flex;
  justify-content: center;
}

.clear {
  color: #333;
  background-color: #eee;
  margin-bottom: 12px;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  border: none;
  display: block;
  margin: auto;
}

.clear:hover {
  color: white;
  background-color: #42545C;
}

.chat {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}
